body{
background-image:url(bcapsule.jpg);
font-size:30px;
font-family: "Helvetica Neue", Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}
h1{
font-size:55px;
color:firebrick;
}
#up1 {
transition-property: transform;
transition-duration: 10s;
}
#up1:hover {
transform: scale(6,6);
}
div{
text-align:center;
}
#down1 {
transition-property: transform;
transition-duration: 2s;
}
#down1:hover {
transform: scale(0.1,0.1);
}
#mright1 {
transition-property: transform;
transition-duration: 2s;
}
#mright:hover {
transform: translateX(450px);
}
table{
margin:auto;
background-color:white;
}